# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidence to answer the following questions.

1. How many neighborhood groups are there and which shows up the most?
2. Are private rooms the most popular in Manhattan?
3. Who are the top 10 busiest hosts based on number of reviews per month?
4. Which neighorhood group has the highest average price? Plot the average prices in a professional looking bar chart
5. What is the most expensive neighbourhood in each neighbourhood group?
6. Which host has the highest minimum rental? *minimal rental is based on price and minimum nights
7. Who currently has no (zero) availability with a review count of 100 or more?
8. If each host rents all of their properties for the night, which 5 make the most that night?
9. When did Danielle from Queens last receive a review?
10. Display a bar chart showing the number of each type of room in the Bronx



Happy Coding!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
air_bnb = pd.read_csv('./AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
# How many neighbourhood groups / which shows up the most


neighbourhood_group = air_bnb['neighbourhood_group'].value_counts()
neighbourhood_group

# 5 neighbourhood groups and Manhattan shows up the most

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [4]:
# Are private rooms the most popular in Manhattan?

manhattan_rooms = air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']
manhattan_rooms['room_type'].value_counts()

# No they are not - The most popular is "entire home/apt"

Entire home/apt    13199
Private room        7982
Shared room          480
Name: room_type, dtype: int64

In [5]:
# Who are the top 10 busiest hosts based on number of reviews per month?
hosts_name_reviews = ['host_name', 'reviews_per_month']
host_info = air_bnb[host__name_reviews]
host_info = hosts.groupby(['host_name'])
host_info.sort_values('reviews_per_month', ascending=False).head(10)

NameError: name 'host__name_reviews' is not defined

In [20]:
# Which neighborhood group has the highest avg price and plot the average prices in a bar chart
neighbourhood_group_price = ['neighbourhood_group', 'price']
price.plot.bar(x="neighbourhood_group", y="price", rot=50, title="Average Prices of Neighborhood Groups")

NameError: name 'price' is not defined

In [7]:
# What is the most expensive neighbourhood in each neighbourhood_group
most_expensive = air_bnb.groupby(['neighbourhood_group', 'neighbourhood']).mean().round(2)[['price']]
most_expensive

                                    price
neighbourhood_group neighbourhood
Bronx               Allerton        87.60
                    Baychester      75.43
                    Belmont         77.12
                    Bronxdale       57.11
                    Castle Hill     63.00
...                                   ...
Staten Island       Tottenville    144.86
                    West Brighton   80.56
                    Westerleigh     71.50
                    Willowbrook    249.00
                    Woodrow        700.00

[221 rows x 1 columns]

In [24]:
# Which host has the highest minimum rental? *minimal rental is based on price and minimum nights
highest_minimum_rental = air_bnb[['id', 'host_name', 'min_rental']].sort_values(by='min_rental',ascending=False)

In [25]:
# Who has no (zero) availability with a review count of 100 or more

In [9]:
highest_profit = air_bnb[['host_name', 'max_profit']]
highest_profit.groupby[['host_name', 'max_profit']]

KeyError: "['max_profit'] not in index"

In [9]:
# When did Danielle from Queens last receive a review?

danielle = air_bnb[air_bnb['host_name'] == "Danielle"]
danielle = danielle[danielle['neighbourhood_group'] == 'Queens' ]
danielle = danielle[['host_name', 'last_review']]
danielle.sort_values('last_review', ascending=False)

#2019-07-08

      host_name last_review
22469  Danielle  2019-07-08
21517  Danielle  2019-07-07
20403  Danielle  2019-07-06
22068  Danielle  2019-07-06
7086   Danielle  2019-07-03
33861  Danielle  2019-06-20
27021  Danielle  2018-01-02
16349  Danielle         NaN

In [14]:
# bar chart showing the number of room types in the Bronx
bronx_room_types = air_bnb[air_bnb['neighbourhood_group'] == 'Bronx']

bronx_rooms.plot.bar(xlabel="Room Types", rot=50, ylabel="Amount", title="Room Types in the Bronx")

AttributeError: 'list' object has no attribute 'groupby'

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [ ]:
#AirBnb renters prefer to stay in Manhattan or Queens. 

#Airbnb hosts in Manhattan can raise their prices, 
#because the data shows that renters are willing to pay more to stay in Manhattan. 

#Renters in New York are much more likely to rent whole apartments as opposed to shared rooms or private rooms.